
/*td, th {*/
/*    border: 1px solid black;*/
/*    padding: 5px 10px;*/
/*}*/

*{
    box-sizing: border-box;
    margin : 0;
}

body{
    display: block;
    background-color: lightblue !important;
    justify-content: center;
    width: 100%;
}

.banner-top{
    display: flex;
    justify-content: center;
    width: 100%;
    background: white;
}

.form-container{
    display: flex;
    flex-direction: column;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    text-align: center;
}
.selector{
    display: inline-block;
    height: 3em;
}

.form-1, .form-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    padding: 10px 20px;
    text-align: center;
}

.inner-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 20px;
    padding: .5em;
}

.add-coffee{
    padding-top: 20px;
    display: inline-block;
    width: 100%;
    text-align: left;
}

.form-titles{
    padding-top: 20px;
    display: inline-block;
    width: 100%;
    text-align: center;
}


/*form{*/
/*    display: flex;*/
/*    !*justify-content: flex-end;*!*/
/*}*/

/*.coffee-chart {*/
/*    display: flex;*/
/*    justify-content: flex-start;*/
/*    border-collapse: collapse;*/
/*    margin: 15px 0;*/
/*}*/

/*.coffee-chart, #coffees{*/
/*    display: flex;*/
/*    !*flex-direction: column;*!*/
/*    flex-wrap: wrap;*/
/*}*/

/*.coffee.id{*/
/*    display: none;*/
/*}*/

